*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    
    width: 100%;
    min-height: 100vh;
    background-color: #e5e5fd;
    border: 6px solid black;
}

#main #content{

    max-width:  900px;
    margin: 0 auto;
    
}

.top_section h1{
    font-size: 60px;
    font-weight: bold;
    color: #1d1e4c;
}

.image_container{
    border-radius: 50%;
    overflow: hidden;
}

.image_container img{
    width: 200px;
    height: 200px;
    
}

.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h4{
    text-align: end;
    font-size: 30px;
}


#about_section{
    margin-top: 50px;
}

#about_section h2{
    font-size: 70px;
    font-weight: 400;
}

#about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;

}

#biography_section{
    margin: 50px 0;
}

#biography_section h3{
    margin-bottom: 20px;
}

#biography_section ul{
    margin-left: 50px;
}

#biography_section li{
    margin-bottom: 20px;
}

footer{
    margin: 50px 0;
}

footer p{
    text-align: end;
}

@media screen and (max-width: 767px) {
    .top_section {
        flex-direction: column;
        align-items: center;
    }

    .top_section h1 {
        font-size: 40px;
    }

    .top_section h4 {
        font-size: 24px;
    }

    .image_container img {
        width: 150px;
        height: 150px;
    }

    #about_section h2 {
        font-size: 48px;
    }

    #about_section p {
        font-size: 18px;
        line-height: 28px;
    }

    #biography_section h3 {
        font-size: 32px;
    }

    #biography_section ul {
        margin-left: 30px;
    }

    #biography_section li {
        margin-bottom: 15px;
    }

    footer p {
        text-align: center;
    }
}

/* For screens smaller than 480px */
@media screen and (max-width: 479px) {
    .image_container img {
        width: 120px;
        height: 120px;
    }

    #about_section h2 {
        font-size: 40px;
    }

    #about_section p {
        font-size: 16px;
        line-height: 24px;
    }

    #biography_section h3 {
        font-size: 24px;
    }

    #biography_section ul {
        margin-left: 20px;
    }

    #biography_section li {
        margin-bottom: 10px;
    }
}